<!DOCTYPE html>
<html>
    <head>
        <title>Admin Board</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2> ADMIN</h2>
        <form action='/registration' method='GET'>
            <input type='submit' value='add user'>
        </form>
        <table>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>email</th>
                <th>created</th>
                <th>user level</th>
                <th>actions</th>
            </tr>
            {%for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="/users/show/{{user.id}}">{{user.name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td>{{user.user_level}}</td>
                <td><a href="">edit</a> <a href="">remove</a></td>
            </tr>
            {% endfor%}
        </table>
    </body>
</html>



