#formstuff{
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}
#thanks{
    background-color: green;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}
#wrapper{
    width: 970px;
    margin: 0px auto;
}